In [1]:
#Importing the necessary libraries
import json
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
#Creating the dataframes and importing the json files:

df_users = pd.read_json('users.json', lines= True)

In [5]:
#Summary of data and to see the data type, memory usage, check if there are any missing values
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           495 non-null    object
 1   active        495 non-null    bool
 2   createdDate   495 non-null    object
 3   lastLogin     433 non-null    object
 4   role          495 non-null    object
 5   signUpSource  447 non-null    object
 6   state         439 non-null    object
dtypes: bool(1), object(6)
memory usage: 23.8+ KB

In [7]:
#display number of observations and features
df_users.shape

(495, 7)

In [8]:
##display top 5 observation of the set
df_users.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI

In [9]:
##generate descriptive statistics
df_users.describe()

,_id,active,createdDate,lastLogin,role,signUpSource,state
count,495,495,495,433,495,447,439
unique,212,2,212,172,2,2,8
top,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},consumer,Email,WI
freq,20,494,20,20,413,443,396

In [12]:
#number of missing records in each column
df_users.isnull().sum()

_id              0
active           0
createdDate      0
lastLogin       62
role             0
signUpSource    48
state           56
dtype: int64

In [14]:
##calculate the percentage of missing values
(df_users.isnull().sum()/(len(df_users)))*100

_id              0.000000
active           0.000000
createdDate      0.000000
lastLogin       12.525253
role             0.000000
signUpSource     9.696970
state           11.313131
dtype: float64

In [16]:
# Using data types
temporal_columns = df_users.select_dtypes(include=['datetime64'])

# Using heuristics (checking if column name contains "date" or "time")
temporal_columns = [col for col in df_users.columns if 'date' in col.lower() or 'time' in col.lower()]

print("Temporal Columns:")
print(temporal_columns)

categorical_columns = []
for col in df_users.columns:
    if isinstance(df_users[col][0], (str, bool)):
        categorical_columns.append(col)
print ("Categorical Columns are:")
print(categorical_columns)

# Exclude categorical and temporal columns
non_categorical_temporal_columns = [col for col in df_users.columns if col not in categorical_columns + temporal_columns]

# Identify continuous columns
continuous_columns = []
for col in non_categorical_temporal_columns:
    if isinstance(df_users[col][0], (int, float)):
        continuous_columns.append(col)

print("Continuous Columns:")
print(continuous_columns)

# Exclude categorical and temporal columns
non_categorical_temporal_columns = [col for col in df_users.columns if col not in categorical_columns + temporal_columns]

# Identify discrete columns
discrete_columns = []
for col in non_categorical_temporal_columns:
    if isinstance(df_users[col][0], int) and df_users[col].nunique() <= 10:
        discrete_columns.append(col)

print("Discrete Columns:")
print(discrete_columns)

Temporal Columns:
['createdDate']
Categorical Columns are:
['role', 'signUpSource', 'state']
Continuous Columns:
[]
Discrete Columns:
[]

In [18]:
#to see the number of values and which are the unique values in the column sign up source
unique_categories = df_users['signUpSource'].unique()

print("Unique values in 'signUpSource' column:")
print(unique_categories)
# Get the number of unique values in the 'category' column
num_unique_categories = df_users['signUpSource'].nunique()

print("Number of unique values in 'signUpSource' column:", num_unique_categories)

Unique values in 'signUpSource' column:
['Email' 'Google' nan]
Number of unique values in 'signUpSource' column: 2